/* Variables de Color */
:root {
    --color-azul-oscuro: #090c1b;
    --color-marron-rojizo: #ad6d65;
    --color-marron-rojizo-hover: #9c5d5a;
    --color-gris-claro: #e0dcd2;
    --color-gris-oscuro: #51434e;
    --color-beige-rosado: #d5ab95;
    --color-blanco: #ffffff;
    --color-azul-claro: #00AAFF;
    --color-lila-claro: #f1e4f2;
}

/* Importar Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-azul-oscuro);
    background-color: var(--color-blanco);
}

/* Barra de Navegación */
header {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 1000;
    top: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.company-name {
    color: var(--color-azul-claro);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-gris-oscuro);
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links a:hover {
    color: var(--color-marron-rojizo);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-azul-oscuro);
    margin: 4px 0;
    transition: 0.4s;
}

/* Sección Hero */
.hero {
    background-color: var(--color-blanco);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 130px 5% 100px;
    gap: 20px;
    position: relative;
}

.hero-left-rectangle,
.hero-right-rectangle {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    padding: 40px;
    box-sizing: border-box;
}

.hero-left-rectangle {
    text-align: center;
    position: relative;
    padding-bottom: 80px;
}

.hero-left-rectangle .hero-text h1 {
    margin-top: 20px;
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero-left-rectangle .keywords {
    margin: 0 auto;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
}

.hero-left-rectangle .keyword {
    margin: 10px 0;
}

.hero-left-rectangle .keyword.highlighted {
    color: var(--color-azul-claro);
}

.hero-left-rectangle .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hero-left-rectangle .btn:hover {
    background-image: url('assets/fondo2.png');
    background-size: cover;
    color: var(--color-blanco);
    border: none;
}

.hero-right-rectangle {
    background-image: url('assets/imagen1.jpg');
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.1);
}

.hero-right-rectangle .evolucion-text {
    font-size: 3rem;
    color: var(--color-blanco);
    text-align: center;
}

.moving-text-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

.moving-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #af73c9;
    animation: moveText 26s linear infinite;
    opacity: 0;
}

.moving-text:nth-child(2) {
    animation-delay: 13s;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Sección Intermedia */
.intermediate {
    background-color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
    text-align: center;
}

.inter-rectangle {
    background-color: #e4e9f5;
    width: 100%;
    max-width: 800px;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.inter-text {
    color: var(--color-gris-oscuro);
    line-height: 1.8;
    font-weight: 500;
}

.inter-text .titulo-principal {
    font-size: 2rem;
    margin-bottom: 20px;
}

.inter-text .subtitulo {
    font-size: 3rem;
    margin: 20px 0;
}

.inter-text .subtitulo .highlight {
    color: var(--color-azul-claro);
}

.inter-text .descripcion {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.inter-content .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.inter-content .btn:hover {
    background-image: url('assets/fondo2.png');
    background-size: cover;
    color: var(--color-blanco);
    border: none;
}

/* Sección de Servicios */
.services {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-gris-oscuro);
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services p {
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    background-color: white;
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 40px);
    margin: 20px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    cursor: pointer;
}

.service-item .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.service-item .flip-card-front,
.service-item .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

.service-item .flip-card-front {
    background-color: var(--color-gris-claro);
    z-index: 2;
    padding: 20px;
}

.service-item .flip-card-front img {
    width: 60px;
    margin-bottom: 20px;
}

.service-item .flip-card-front h3 {
    color: var(--color-azul-oscuro);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.service-item .flip-card-back {
    background-image: url('assets/guides.gif.webp');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    padding: 20px;
}

.service-item .flip-card-back p {
    color: var(--color-blanco);
    font-size: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
}

.service-item.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

@media (max-width: 1024px) {
    .service-item {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    /* Barra de Navegación */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--color-blanco);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 1px solid var(--color-gris-oscuro);
    }

    .nav-links.nav-active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.toggle .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    /* Sección Hero */
    .hero {
        flex-direction: column;
        padding: 100px 5% 50px;
    }

    .hero-left-rectangle,
    .hero-right-rectangle {
        width: 100%;
    }

    .hero-left-rectangle .hero-text h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero-left-rectangle .keywords {
        font-size: 2rem;
    }

    .hero-left-rectangle .btn {
        position: static;
        margin-top: 20px;
        transform: none;
    }

    /* Sección Intermedia */
    .intermediate {
        padding: 40px 5%;
    }

    .inter-text .titulo-principal {
        font-size: 1.8rem;
    }

    .inter-text .subtitulo {
        font-size: 2.5rem;
    }

    .inter-text .descripcion {
        font-size: 0.9rem;
    }

    /* Sección de Servicios */
    .service-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .service-item .flip-card-inner {
        height: 300px;
    }

    .service-item .flip-card-front,
    .service-item .flip-card-back {
        padding: 10px;
    }

    .service-item .flip-card-front h3 {
        font-size: 1rem;
    }

    .service-item .flip-card-back p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .hero-left-rectangle .hero-text h1 {
        font-size: 2rem;
    }

    .hero-left-rectangle .keywords {
        font-size: 1.2rem;
    }

    .hero-right-rectangle .evolucion-text {
        font-size: 1.5rem;
    }

    .moving-text {
        font-size: 0.9rem;
    }

    .inter-text .subtitulo {
        font-size: 1.5rem;
    }

    .inter-text .titulo-principal {
        font-size: 1.2rem;
    }
}

/* Estilos adicionales */
footer {
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}




/* Sección del Equipo */
.team {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    background-color: var(--color-gris-claro);
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1 1 300px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    color: var(--color-azul-oscuro);
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-contact {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-contact:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Sección de Contacto */
.contact {
    padding: 100px 5%;
    background-color: var(--color-azul-oscuro);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact .btn {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contact .btn:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Pie de Página */
footer {
    background-color: var(--color-azul-oscuro);
    color: var(--color-gris-oscuro);
    text-align: center;
    padding: 20px 5%;
}

footer p {
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 992px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        margin-right: 0;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--color-azul-oscuro);
        width: 200px;
        flex-direction: column;
        text-align: right;
        padding: 20px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .services-container,
    .team-container {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}

/* Animación del menú responsive */
.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar:nth-child(2) {
    opacity: 0;
}

.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
    display: flex;
}

