/* Variables de Color */
:root {
    --color-azul-oscuro: #090c1b;
    --color-marron-rojizo: #ad6d65;
    --color-marron-rojizo-hover: #9c5d5a;
    --color-gris-claro: #e0dcd2;
    --color-gris-oscuro: #51434e;
    --color-beige-rosado: #d5ab95;
    --color-blanco: #ffffff;
    --color-azul-claro: #00AAFF;
    --color-lila-claro: #f1e4f2;
}

/* Importar Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--color-azul-oscuro);
    background-color: var(--color-blanco);
}

/* Barra de Navegación */
header {
    width: 88%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.60);
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 3%;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.company-name {
    color: var(--color-azul-claro);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-gris-oscuro);
    transition: color 0.3s;
     font-weight: 400;
}

.nav-links a:hover {
    color: var(--color-marron-rojizo);
     font-weight: 400;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--color-blanco);
    margin: 4px 0;
    transition: 0.4s;
}

/* Fondo general de la Sección Hero */
.hero {
    background-color: var(--color-blanco);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 130px 5% 100px;
    gap: 20px;
    position: relative;
}

/* Rectángulo Izquierdo */
.hero-left-rectangle {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative; /* Para que el botón absoluto se coloque correctamente */
    text-align: center;
    border: 2px solid transparent;
    border-radius: 45px;
    padding: 40px;
    padding-bottom: 80px; /* Espacio para que el botón no se solape con el contenido */
}

.hero-left-rectangle .hero-text h1 {
    margin-top: 20px;
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 80px;
}

/* Palabras clave */
.hero-left-rectangle .keywords {
    margin: 0 auto;
    font-size: 4rem;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; /* Ajustamos para que solo ocupe el espacio necesario */
    font-weight: 600;
}

.hero-left-rectangle .keyword.highlighted {
    color: var(--color-azul-claro);
    margin-left: 50px;
    text-align: center;
}

/* Botón */
.hero-left-rectangle .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute; /* Fijamos el botón en la parte inferior */
    bottom: 20px; /* Asegura que esté cerca del borde inferior */
    left: 50%;
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    text-decoration: none;
    background-image: none;
    transition: background-color 0.3s, color 0.3s;
}
/* Botón hover con imagen de fondo */
.hero-left-rectangle .btn:hover {
    background-image: url('assets/fondo2.png'); /* Fondo con imagen cuando se activa */
    background-size: cover;
    color: var(--color-blanco); /* Color de texto cuando se activa */
    border: none;
}

/* Rectángulo derecho con imagen de fondo y texto "Evolución" */
.hero-right-rectangle {
    width: 50%; /* Tamaño ajustable */
    height: 70vh; /* Ajustar la altura del rectángulo */
    background-image: url('assets/imagen1.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end; /* Alinear el texto "Evolución" cerca del borde inferior */
    justify-content: center;
    padding-bottom: 20px;
    border: none; /* Sin bordes visibles */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0px 16px 30px rgba(0,0,0,0.1); /* Sombra sutil */
}

/* Texto "Evolución" en el rectángulo derecho */
.hero-right-rectangle .evolucion-text {
    font-size: 3rem;
    color: var(--color-blanco);
    text-align: center;
     bottom: 30px;
}

/* Contenedor para las frases de desplazamiento */
.moving-text-container {
    position: absolute;
    bottom: 50px; /* Colocarlo al final de la sección hero */
    width: 100%; /* Ocupa todo el ancho */
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Ocultar el desbordamiento de las frases */
    white-space: nowrap; /* Evitar que las frases se dividan en varias líneas */
    padding: 10px 0;
}

/* Estilo para las frases */
.moving-text {
    font-size: 1.5rem; /* Tamaño pequeño pero legible */
    font-weight: 600; /* Grosor ligero para el texto */
    color: #af73c9;
    animation: moveText 26s linear infinite; /* Ambas frases tendrán la misma duración */
    opacity: 0; /* Ocultamos la frase inicialmente para hacer una transición suave */
}

/* Sincronización de la segunda frase */
.moving-text:nth-child(2) {
    animation-delay: 7.5s; /* La segunda frase comenzará 15s después de la primera */
}

/* Animación para que las frases se desplacen */
@keyframes moveText {
    0% {
        transform: translateX(150%); /* Fuera de la pantalla por la derecha */
        opacity: 1; /* Aparece suavemente */
    }
    50% {
        transform: translateX(0); /* Completamente visible en el centro */
        opacity: 1;
    }
    100% {
        transform: translateX(-180%); /* Sale de la pantalla por la izquierda */
        opacity: 0; /* Desvanece la frase para evitar el corte */
    }
}

/* Sección intermedia (inter1) */
.intermediate {
    background-color: var(--color-blanco);
    display: flex;
    justify-content: right-end;
    align-items: center;
    height: 40vh;
    text-align: center;
    padding: 40px;
    position: relative;
}

/* Rectángulo en la sección inter1 */
.inter-rectangle {
    background-color: #e4e9f5;
    width: 50%; /* Ampliamos ligeramente el ancho */
    height: auto;
    border-radius: 25px; /* Ajustamos los bordes */
    border: none;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

/* Contenido en la sección inter1 */
.inter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ajuste del espaciado y línea entre renglones */
.inter-text {
    color: var(--color-gris-oscuro);
    line-height: 1.8; /* Aumentamos el espaciado entre líneas */
    font-weight: 500;
    text-align: center;
}

/* Estilo del primer renglón */
.inter-text .titulo-principal {
    font-size: 2rem; /* Tamaño ajustado */
    margin-bottom: 50px; /* Añadimos espacio debajo */
}

/* Estilo del segundo renglón */
.inter-text .subtitulo {
    font-size: 3rem; /* Ajustamos el tamaño del segundo renglón */
    color: var(--color-gris-oscuro); /* Color gris oscuro para el texto */
    margin: 50px 0; /* Más espacio entre el primer y segundo renglón */
}

.inter-text .subtitulo .highlight {
    color: var(--color-azul-claro); /* Solo "GPTs" en azul */
}

/* Estilo del tercer renglón */
.inter-text .descripcion {
    font-size: 1rem; /* Texto más pequeño */
    font-weight: 400; /* Aligeramos el grosor de la fuente */
    margin-bottom: 50px; /* Espacio debajo de la descripción */
    line-height: 1.8; /* Aumentamos el espaciado en el tercer renglón */
    color: var(--color-gris-oscuro);
}

/* Botón "Conócenos" */
.inter-content .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
    margin-top: 30px; /* Aumenta el espacio entre el tercer renglón y el botón */
    bottom: 20px; /* Asegura que esté cerca del borde inferior */
}

/* Efecto hover del botón */
.inter-content .btn:hover {
    background-image: url('assets/fondo2.png');
    background-size: cover;
    color: var(--color-blanco);
    border: none;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .intermediate {
        padding: 20px;
    }

    .inter-rectangle {
        width: 80%;
    }

    .inter-text .titulo-principal {
        font-size: 2rem;
    }

    .inter-text .subtitulo {
        font-size: 1.8rem;
    }

    .inter-text .descripcion {
        font-size: 0.9rem;
    }
}

/* Sección de Servicios */
.services {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    min-height: 100vh; /* Igualamos el tamaño de la sección de servicios con la sección hero */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-gris-oscuro); /* Cambiamos el color de fuente a gris oscuro */
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left; /* Alineamos el título a la izquierda */
    color: var(--color-gris-oscuro); /* Cambiamos el color del título a gris oscuro */
}

.services p {
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: left; /* Alineamos el texto pequeño a la izquierda */
    color: var(--color-gris-oscuro); /* Cambiamos el color del texto a gris oscuro */
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contenedor del rectángulo para hacer el giro */
.service-item {
    background-color: white; /* Cambiamos el fondo a blanco para todo el rectángulo */
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1 1 250px;
    margin: 20px;
    padding: 0;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.8s;
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    perspective: 1000px; /* Necesario para el efecto 3D */
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: white; /* Fondo blanco durante el giro */
    border-radius: 25px; /* Redondeamos todo el contenedor interior */
    overflow: hidden; /* Ocultamos cualquier parte que sobresalga */
}

.service-item .flip-card-front, .service-item .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Ocultar la backface */
    backface-visibility: hidden; /* Hacemos que la cara trasera no sea visible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineamos todo el contenido al principio (arriba) */
    align-items: center; /* Centramos horizontalmente el contenido */
    border-radius: 25px; /* Aseguramos que las esquinas sean redondeadas */
    background-color: var(--color-gris-claro); /* Fondo gris claro */
    overflow: hidden; /* Aseguramos que el contenido respete las esquinas redondeadas */
}

.service-item .flip-card-front {
    background-color: var(--color-gris-claro);
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px; /* Redondeamos las esquinas del frente también */
}

.service-item .flip-card-back {
    background-color: var(--color-gris-claro);
    color: var(--color-gris-oscuro);
    transform: rotateY(180deg);
    background-image: url('assets/guides.gif.webp'); /* Añadir GIF en el reverso */
    background-size: cover; /* Aseguramos que el GIF cubra toda la parte trasera */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px; /* Aseguramos que las esquinas sean redondeadas */
}

.service-item.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/* Primer rectángulo con fondo de imagen */
.service-item:nth-child(1) .flip-card-front {
    background-image: url('assets/fondo5.jpg');
}

/* Segundo rectángulo con fondo de imagen */
.service-item:nth-child(2) .flip-card-front {
    background-image: url('assets/fondo4.jpg');
}

/* Tercer rectángulo con fondo de imagen */
.service-item:nth-child(3) .flip-card-front {
    background-image: url('assets/fondo2.jpg');
}

/* Cuarto rectángulo con fondo de imagen */
.service-item:nth-child(4) .flip-card-front {
    background-image: url('assets/fondo1.jpg');
}

/* Ajustes del ícono y el texto para acercarlos al borde superior */
.service-item .flip-card-front img {
    margin-top: 25px; /* Acerca el ícono al borde superior */
    width: 60px; /* Tamaño del ícono */
}

.service-item .flip-card-front h3 {
    color: white; /* Cambiamos el color del texto a blanco */
    margin-top: 25px; /* Espacio entre el ícono y el texto */
}

.service-item p {
    font-size: 1rem;
    color: var(--color-gris-oscuro);
    padding: 20px;
}

/* Ajustes de la cara trasera */
.flip-card-back p {
    color: var(--color-gris-oscuro);
    font-size: 1rem;
    text-align: center;
}

/* Sección del Equipo */
.team {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    background-color: var(--color-gris-claro);
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1 1 300px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    color: var(--color-azul-oscuro);
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-contact {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-contact:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Sección de Contacto */
.contact {
    padding: 100px 5%;
    background-color: var(--color-azul-oscuro);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact .btn {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contact .btn:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Pie de Página */
footer {
    background-color: var(--color-azul-oscuro);
    color: var(--color-gris-oscuro);
    text-align: center;
    padding: 20px 5%;
}

footer p {
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 992px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        margin-right: 0;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--color-azul-oscuro);
        width: 200px;
        flex-direction: column;
        text-align: right;
        padding: 20px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .services-container,
    .team-container {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}

/* Animación del menú responsive */
.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar:nth-child(2) {
    opacity: 0;
}

.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
    display: flex;
}

