/* Variables de Color */
:root {
    --color-azul-oscuro: #090c1b;
    --color-marron-rojizo: #ad6d65;
    --color-marron-rojizo-hover: #9c5d5a;
    --color-gris-claro: #e0dcd2;
    --color-gris-oscuro: #51434e;
    --color-beige-rosado: #d5ab95;
    --color-blanco: #ffffff;
    --color-azul-claro: #00AAFF;
    --color-lila-claro: #f1e4f2;
}

/* Importar Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Actualizado para usar Poppins */
    color: var(--color-azul-oscuro);
    background-color: var(--color-blanco);
}

/* Barra de Navegación */
header {
    width: 88%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.60);
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 3%;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

.company-name {
    color: var(--color-azul-claro);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-gris-oscuro);
    transition: color 0.3s;
    font-weight: 400;
}

.nav-links a:hover {
    color: var(--color-marron-rojizo);
    font-weight: 400;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.hamburger .bar {
    width: 20px;
    height: 3px;
    background-color: var(--color-blanco);
    margin: 4px 0;
    transition: 0.4s;
}

/* Fondo general de la Sección Hero */
.hero {
    background-color: var(--color-blanco);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 130px 5% 100px;
    gap: 20px;
    position: relative;
}

/* Rectángulo Izquierdo */
.hero-left-rectangle {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 45px;
    padding: 40px;
    padding-bottom: 80px;
}

.hero-left-rectangle .hero-text h1 {
    margin-top: 20px;
    font-size: 6rem;
    font-weight: 300;
    margin-bottom: 80px;
}

/* Palabras clave */
.hero-left-rectangle .keywords {
    margin: 0 auto;
    font-size: 4rem;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    font-weight: 600;
}

.hero-left-rectangle .keyword.highlighted {
    color: var(--color-azul-claro);
    margin-left: 50px;
    text-align: center;
}

/* Botón */
.hero-left-rectangle .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-image: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Botón hover con imagen de fondo */
.hero-left-rectangle .btn:hover {
    background-image: url('assets/fondo2.png');
    background-size: cover;
    color: var(--color-blanco);
    border: none;
}

/* Rectángulo derecho con imagen de fondo y texto "Evolución" */
.hero-right-rectangle {
    width: 50%;
    height: 70vh;
    background-image: url('assets/imagen1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 16px 30px rgba(0,0,0,0.1);
}

/* Texto "Evolución" en el rectángulo derecho */
.hero-right-rectangle .evolucion-text {
    font-size: 3rem;
    color: var(--color-blanco);
    text-align: center;
    bottom: 30px;
}

/* Contenedor para las frases de desplazamiento */
.moving-text-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

/* Estilo para las frases */
.moving-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #af73c9;
    animation: moveText 26s linear infinite;
    opacity: 0;
}

/* Sincronización de la segunda frase */
.moving-text:nth-child(2) {
    animation-delay: 7.5s;
}

/* Animación para que las frases se desplacen */
@keyframes moveText {
    0% {
        transform: translateX(150%);
        opacity: 1;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-180%);
        opacity: 0;
    }
}

/* Sección intermedia (inter1) */
.intermediate {
    background-color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
    padding: 40px;
    position: relative;
}

/* Rectángulo en la sección inter1 */
.inter-rectangle {
    background-color: #e4e9f5;
    width: 50%;
    height: auto;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

/* Contenido en la sección inter1 */
.inter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Ajuste del espaciado y línea entre renglones */
.inter-text {
    color: var(--color-gris-oscuro);
    line-height: 1.8;
    font-weight: 500;
    text-align: center;
}

/* Estilo del primer renglón */
.inter-text .titulo-principal {
    font-size: 2rem;
    margin-bottom: 50px;
}

/* Estilo del segundo renglón */
.inter-text .subtitulo {
    font-size: 3rem;
    color: var(--color-gris-oscuro);
    margin: 50px 0;
}

.inter-text .subtitulo .highlight {
    color: var(--color-azul-claro);
}

/* Estilo del tercer renglón */
.inter-text .descripcion {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 1.8;
    color: var(--color-gris-oscuro);
}

/* Botón "Conócenos" */
.inter-content .btn {
    background-color: var(--color-blanco);
    color: var(--color-azul-claro);
    padding: 12px 30px;
    border: 2px solid var(--color-gris-oscuro);
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
    margin-top: 30px;
    bottom: 20px;
}

/* Efecto hover del botón */
.inter-content .btn:hover {
    background-image: url('assets/fondo2.png');
    background-size: cover;
    color: var(--color-blanco);
    border: none;
}

/* Sección de Servicios */
.services {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-gris-oscuro);
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: var(--color-gris-oscuro);
}

.services p {
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: left;
    color: var(--color-gris-oscuro);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    background-color: white;
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1 1 250px;
    margin: 20px;
    padding: 0;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.8s;
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    perspective: 1000px;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.service-item .flip-card-front, .service-item .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    background-color: var(--color-gris-claro);
    overflow: hidden;
}

.service-item .flip-card-front {
    background-color: var(--color-gris-claro);
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

/* Ajustes de la cara trasera */
.service-item .flip-card-back {
    background-color: var(--color-gris-claro);
    color: white;
    transform: rotateY(180deg);
    background-image: url('assets/guides.gif.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding-top: 20px;
}

.service-item.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.service-item:nth-child(1) .flip-card-front {
    background-image: url('assets/fondo5.jpg');
}

.service-item:nth-child(2) .flip-card-front {
    background-image: url('assets/fondo4.jpg');
}

.service-item:nth-child(3) .flip-card-front {
    background-image: url('assets/fondo2.jpg');
}

.service-item:nth-child(4) .flip-card-front {
    background-image: url('assets/fondo1.jpg');
}

.service-item .flip-card-front img {
    margin-top: 25px;
    width: 60px;
}

.service-item .flip-card-front h3 {
    color: white;
    margin-top: 25px;
}

.service-item p {
    font-size: 1rem;
    color: var(--color-gris-oscuro);
    padding: 20px;
}

/* Ajustes de la cara trasera */
.flip-card-back p {
    color: var(--color-blanco);
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    /* Barra de Navegación */
    header {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
    }

    .navbar {
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--color-blanco);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 1px solid var(--color-gris-oscuro);
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    /* Sección Hero */
    .hero {
        flex-direction: column;
        padding: 100px 5% 50px;
    }

    .hero-left-rectangle, .hero-right-rectangle {
        width: 100%;
        height: auto;
    }

    .hero-left-rectangle .hero-text h1 {
        font-size: 3rem;
    }

    .hero-left-rectangle .keywords {
        font-size: 2rem;
    }

    /* Sección Intermedia */
    .intermediate {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .inter-rectangle {
        width: 100%;
        padding: 20px;
    }

    .inter-text .titulo-principal {
        font-size: 2rem;
    }

    .inter-text .subtitulo {
        font-size: 1.8rem;
    }

    .inter-text .descripcion {
        font-size: 0.9rem;
    }

    /* Sección de Servicios */
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        flex: 1 1 100%;
        height: auto;
    }

    .service-item .flip-card-inner {
        flex-direction: column;
    }

    /* Ajustes de fuente */
    .services h2 {
        font-size: 2rem;
    }

    .services p {
        font-size: 0.9rem;
    }

    /* Ajuste de tamaños de fuente */
    .service-item p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    /* Ajustes adicionales */
    .hero-left-rectangle .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-left-rectangle .keywords {
        font-size: 1.5rem;
    }

    .hero-right-rectangle .evolucion-text {
        font-size: 2rem;
    }

    .moving-text {
        font-size: 1rem;
    }

    .inter-text .subtitulo {
        font-size: 1.5rem;
    }

    .inter-text .titulo-principal {
        font-size: 1.5rem;
    }
}

/* Corrección de clases duplicadas */
/* Asegúrate de que no haya clases .services duplicadas en tu código */



/* Sección del Equipo */
.team {
    padding: 100px 5%;
    background-color: var(--color-blanco);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    background-color: var(--color-gris-claro);
    border: 1px solid var(--color-gris-oscuro);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1 1 300px;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    color: var(--color-azul-oscuro);
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-contact {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-contact:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Sección de Contacto */
.contact {
    padding: 100px 5%;
    background-color: var(--color-azul-oscuro);
    text-align: center;
    color: var(--color-gris-oscuro);
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact .btn {
    background-color: var(--color-marron-rojizo);
    color: var(--color-gris-oscuro);
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contact .btn:hover {
    background-color: var(--color-marron-rojizo-hover);
}

/* Pie de Página */
footer {
    background-color: var(--color-azul-oscuro);
    color: var(--color-gris-oscuro);
    text-align: center;
    padding: 20px 5%;
}

footer p {
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 992px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        margin-right: 0;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--color-azul-oscuro);
        width: 200px;
        flex-direction: column;
        text-align: right;
        padding: 20px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .services-container,
    .team-container {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}

/* Animación del menú responsive */
.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar:nth-child(2) {
    opacity: 0;
}

.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
    display: flex;
}

